@import url(http://fonts.googleapis.com/css?family=Fjalla+One);

#header-login1 {
	position: fixed;
	height: 200px;
	top: 0;
	width: 100%;
	z-index: 100;
}

#header-menuc {
	position: fixed;
	height: 200px;
	top: 0;
	width: 100%;
	z-index: 100;
}

body {
	margin-bottom: 0;
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	background-color: #9bb2bb;
	/*background-image:url(../images/bg.jpg);*/
	background-size: cover;
	font-family: Arial, "MS Sans Serif", Verdana, Helvetica, Tahoma, AngsanaUPC, sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: #000000;
	line-height: 20px;
}

/*	Table top */
.login {
	font-family: Arial, "MS Sans Serif", Verdana, Helvetica, Tahoma, AngsanaUPC, sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 11px;
	color: #FFFFFF;
	text-decoration: none;
}

.boxlogin {
	width: 100px;
	height: 20px;
	font-family: Arial, "MS Sans Serif", Verdana, Helvetica, Tahoma, AngsanaUPC, sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 11px;
	color: #000000;
	text-decoration: none;
}

/*	Menu  */

/*	- menu slide  */
ul.menu {
	list-style: none;
	margin: 0;
	padding: 0;
}

ul.menu * {
	margin: 0;
	padding: 0;
}

ul.menu a {
	display: block;
	color: #000;
	text-decoration: none;
	font-family: Arial, "MS Sans Serif", Verdana, Helvetica, Tahoma, AngsanaUPC, sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: #000000;
	line-height: 18px;
	text-decoration: none;
}

ul.menu li {
	position: relative;
	float: left;
	margin-right: 0px;
	font-family: Arial, "MS Sans Serif", Verdana, Helvetica, Tahoma, AngsanaUPC, sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: #000000;
	line-height: 18px;
	text-decoration: none;
}

ul.menu ul {
	position: absolute;
	top: 45px;
	left: 0;
	display: none;
	opacity: 0;
	list-style: none;
	background-color: #d1d1d1;
}

ul.menu .menulink {
	border: 0px solid #aaa;
	padding: 10px 20px 10px 50px;
	font-family: 'Fjalla One', Arial, "MS Sans Serif", Verdana, Helvetica, Tahoma, AngsanaUPC, sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	color: #000000;
	line-height: 18px;
	text-decoration: none;
}

ul.menu .menulink:hover, ul.menu .menuhover {
	font-family: 'Fjalla One', Arial, "MS Sans Serif", Verdana, Helvetica, Tahoma, AngsanaUPC, sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	color: #45a107;
	line-height: 18px;
	text-decoration: none;
}

ul.menu ul li {
	position: relative;
	padding: 5px 5px 5px 5px;
	border: 1px solid #aaa;
	border-top: none;
	width: 200px;
	margin: 0;
}

ul.menu ul li a {
	display: block;
	padding: 5px 5px 5px 5px;
	background-color: #d1d1d1;
}

ul.menu ul li a:hover {
	background-color: #c5c5c5;
}

/*Lv 1*/
ul.menu ul ul {
	left: 0px;
	top: -0px
}
/*Lv 2*/
ul.menu ul ul ul {
	left: 0px;
	top: -0px
}
/*Lv 3*/
ul.menu ul ul ul ul {
	left: 0px;
	top: -0px
}
ul.menu .sub {
	background: #d1d1d1 url(../images/arrow.gif) 200px 15px no-repeat
}

ul.menu .topline {
	border-top: 0px solid #aaa
}
/*	- menu slide  */

a.menufoot {
	font-family: 'Fjalla One', Arial, "MS Sans Serif", Verdana, Helvetica, Tahoma, AngsanaUPC, sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	color: #000000;
	line-height: 18px;
	text-decoration: none;
}

a.menufoot:hover {
	font-family: 'Fjalla One', Arial, "MS Sans Serif", Verdana, Helvetica, Tahoma, AngsanaUPC, sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	color: #45a107;
	line-height: 18px;
	text-decoration: none;
}

/*	Box Search */
.search-01 {
	width: 120px;
	height: 18px;
	font-family: Arial, "MS Sans Serif", Verdana, Helvetica, Tahoma, AngsanaUPC, sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 11px;
	color: #000000;
	text-decoration: none;
}
.boxsearch {
	width: 220px;
	height: 20px;
	font-family: Arial, "MS Sans Serif", Verdana, Helvetica, Tahoma, AngsanaUPC, sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 11px;
	color: #000000;
	text-decoration: none;
}

a.search {
	font-family: 'Fjalla One', Arial, "MS Sans Serif", Verdana, Helvetica, Tahoma, AngsanaUPC, sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	color: #FFFFFF;
	line-height: 12px;
	text-decoration: none;
}

a.search:hover {
	font-family: 'Fjalla One', Arial, "MS Sans Serif", Verdana, Helvetica, Tahoma, AngsanaUPC, sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	color: #ffcc00;
	line-height: 12px;
	text-decoration: none;
}

.h1 {
	font-family: 'Fjalla One', Arial, "MS Sans Serif", Verdana, Helvetica, Tahoma, AngsanaUPC, sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	color: #FFFFFF;
	line-height: 18px;
	text-decoration: none;
}

.h2 {
	font-family: 'Fjalla One', Arial, "MS Sans Serif", Verdana, Helvetica, Tahoma, AngsanaUPC, sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	color: #000000;
	line-height: 18px;
	text-decoration: none;
}

.h3 {
	font-family: 'Fjalla One', Arial, "MS Sans Serif", Verdana, Helvetica, Tahoma, AngsanaUPC, sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	color: #000000;
	line-height: 18px;
	text-decoration: none;
}

form, input, textarea {
	font-family: Arial, "MS Sans Serif", Verdana, Helvetica, Tahoma, AngsanaUPC, sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: #8a8a8a;
}

.borderpic {
	border: 3px solid #FFFFFF;
}
.detail {
	float: left;
	width: 100%;
	height: 460px;
	position: absolute;
	top: 150px;
	left: 0;
	z-index: 5;
}

/*	Footer */
.easy {
	font-family: Arial, "MS Sans Serif", Verdana, Helvetica, Tahoma, AngsanaUPC, sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 11px;
	color: #000000;
}

.footdot {
	width: 100%;
	height: 1px;
	border-bottom: dotted 1px;
	color: #000000;
}

.footer {
	font-family: Arial, "MS Sans Serif", Verdana, Helvetica, Tahoma, AngsanaUPC, sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: #000000;
}

a.linkfoot {
	font-family: Arial, "MS Sans Serif", Verdana, Helvetica, Tahoma, AngsanaUPC, sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: #000000;
	line-height: 18px;
	text-decoration: none;
}

a.linkfoot:hover {
	font-family: Arial, "MS Sans Serif", Verdana, Helvetica, Tahoma, AngsanaUPC, sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: #45a107;
	line-height: 18px;
	text-decoration: none;

}

.location {
	font-family: Arial, "MS Sans Serif", Verdana, Helvetica, Tahoma, AngsanaUPC, sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 11px;
	color: #000000;
	line-height: 18px;
	text-decoration: none;
}

td .list-detail {
	vertical-align: middle;
	padding: 3px;
}

td .list-detail2 {
	vertical-align: middle;
	padding: 5px;
}

td .list-right {
	padding: 5px 10px 5px 5px;
	vertical-align: middle;
}

td .txt_bold_gray {
	padding: 5px;
}