body {
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    background-color: #FFFFFF;

    SCROLLBAR-FACE-COLOR: #eeeeee;
    SCROLLBAR-HIGHLIGHT-COLOR: #FFFFFF;
    SCROLLBAR-SHADOW-COLOR: #FFFFFF;
    SCROLLBAR-3DLIGHT-COLOR: #FFFFFF;
    SCROLLBAR-ARROW-COLOR: #FFFFFF;
    SCROLLBAR-TRACK-COLOR: #FFFFFF;
    SCROLLBAR-DARKSHADOW-COLOR: #FFFFFF;
    /*	background-image:url(../images/01.jpg);*/
}

table, tr, td, p, div {
    font-family: "Tahoma";
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    color: #7f7e7e;
}

form, input, textarea, select {
    font-family: "Tahoma";
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    color: #7f7e7e;
}

a:link, a:active, a:visited {
    font-family: "Tahoma";
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    color: #666666;
    text-decoration: none;
}

a:hover {
    font-family: "Tahoma";
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    color: #FF6600;
    text-decoration: underline;
}

a.calendar:link, a.calendar:active, a.calendar:visited {
    font-family: "Tahoma";
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    color: #b1b1b1;
    text-decoration: none;
}

a.calendar:hover {
    font-family: "Tahoma";
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    color: #000000;
    text-decoration: underline;
}

.big {
    font-family: "MS Sans Serif", Verdana, Helvetica, Tahoma, AngsanaUPC, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
}

.small {
    font-family: "Tahoma";
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
}

.construction {
    font-family: "Tahoma";
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
}

.text {
    font-family: "Tahoma";
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    color: #897c51;
}

.text2 {
    font-family: "Tahoma";
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    color: #897c51;
}

/* ---------- TOEE ---------- */
.txt_big_gray {
    font-family: "Tahoma";
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    color: #666666;
}

.txt_gray {
    font-family: "Tahoma";
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    color: #666666;
}

.txt_bold_gray {
    font-family: "Tahoma";
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    color: #666666;
}

a.txt_bold_gray:link, a.txt_bold_gray:active, a.txt_bold_gray:visited {
    font-family: "Tahoma";
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    color: #666666;
}

a.txt_bold_gray:hover {
    font-family: "Tahoma";
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    color: #FF6600;
    text-decoration: none;
}

.txt_bold_white {
    font-family: "Tahoma";
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    color: #FFFFFF;
    text-decoration: none;
}

a.txt_bold_white:link, a.txt_bold_white:active, a.txt_bold_white:visited {
    font-family: "Tahoma";
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    color: #FFFFFF;
    text-decoration: none;
}

a.txt_bold_white:hover {
    font-family: "Tahoma";
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    color: #FF6600;
    text-decoration: none;
}

.remark {
    font-family: "Tahoma";
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: #FF0000;
}

.table2 {
    display: table;
}

.tr2 {
    display: table-row;
}

.th2 {
    float: center;
    display: table-cell;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    padding: 5px;
}

.td2 {
    float: left;
    display: table-cell;
    vertical-align: middle;
    padding: 5px;
}

.bgColor1 {
    background: #0070bb; /* Old browsers */
    background: -moz-linear-gradient(top, #0070bb 0%, #33a1e8 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #0070bb), color-stop(100%, #33a1e8)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #0070bb 0%, #33a1e8 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #0070bb 0%, #33a1e8 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #0070bb 0%, #33a1e8 100%); /* IE10+ */
    background: linear-gradient(to bottom, #0070bb 0%, #33a1e8 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0070bb', endColorstr='#33a1e8', GradientType=0); /* IE6-9 */

}

.bgColor2 {
    background: #b22520; /* Old browsers */
    background: -moz-linear-gradient(top, #b22520 0%, #e65952 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #b22520), color-stop(100%, #e65952)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #b22520 0%, #e65952 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #b22520 0%, #e65952 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #b22520 0%, #e65952 100%); /* IE10+ */
    background: linear-gradient(to bottom, #b22520 0%, #e65952 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b22520', endColorstr='#e65952', GradientType=0); /* IE6-9 */
}

.bgColor3 {
    background: #71b045; /* Old browsers */
    background: -moz-linear-gradient(top, #71b045 0%, #accb4c 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #71b045), color-stop(100%, #accb4c)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #71b045 0%, #accb4c 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #71b045 0%, #accb4c 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #71b045 0%, #accb4c 100%); /* IE10+ */
    background: linear-gradient(to bottom, #71b045 0%, #accb4c 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#71b045', endColorstr='#accb4c', GradientType=0); /* IE6-9 */
}

.bgColor4 {
    background: #694187; /* Old browsers */
    background: -moz-linear-gradient(top, #694187 0%, #9c6dbe 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #694187), color-stop(100%, #9c6dbe)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #694187 0%, #9c6dbe 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #694187 0%, #9c6dbe 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #694187 0%, #9c6dbe 100%); /* IE10+ */
    background: linear-gradient(to bottom, #694187 0%, #9c6dbe 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#694187', endColorstr='#9c6dbe', GradientType=0); /* IE6-9 */
}

.bgColor5 {
    background: #ea9800; /* Old browsers */
    background: -moz-linear-gradient(top, #ea9800 0%, #ffbe04 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ea9800), color-stop(100%, #ffbe04)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ea9800 0%, #ffbe04 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ea9800 0%, #ffbe04 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ea9800 0%, #ffbe04 100%); /* IE10+ */
    background: linear-gradient(to bottom, #ea9800 0%, #ffbe04 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ea9800', endColorstr='#ffbe04', GradientType=0); /* IE6-9 */
}
