.signin-form input[type="text"] {
    background: url(../images/1.png) no-repeat 97% center;
    display: block;
}

.signin-form input[type="password"] {
    background: url(../images/2.png) no-repeat 97% center;
    display: block;
}

.signin-form input[type="submit"] {
    padding: 0.6em 0;
    font-size: 0.9em;
    margin-top: 0.6em;
}

.signin-form input[type="submit"] {
    font-size: 0.8em;
    margin-top: 0.5em;
}