#accordion-container {
	padding: 0 0 0 0;
	/*border: 0px solid #cccccc;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow: 0 5px 15px #cccccc;
	-webkit-box-shadow: 0 5px 15px #cccccc;
	box-shadow: 0 5px 15px #cccccc;
	background:FFFFFF;*/
	font-size: 12px;
	font-family: 'Arial', MyriadPro-Regular, Helvetica, sans-serif, Times, serif;
	color: #000000;
	line-height: 18px;
}
.accordion-header {
	background-color: #FFFFFF;
	margin: 10px 0 0 0;
	padding: 10px 20px;
	border: 1px solid #cccccc;
	cursor: pointer;
	-moz-border-radius: 0 0 0 0;
	-webkit-border-radius: 0 0 0 0;
	border-radius: 0 0 0 0;
	text-transform: uppercase;
	font-family: 'Fjalla One', Arial, "MS Sans Serif", Verdana, Helvetica, Tahoma, AngsanaUPC, sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	color: #1e73a4;
	line-height: 18px;
	text-decoration: none;
	
}

.active-header {
	-moz-border-radius: 0 0 0 0;
	-webkit-border-radius: 0 0 0 0;
	border-radius: 0 0 0 0;
	background: url(images/active-header.gif) #197ea6;
	background-repeat: no-repeat;
	background-position: right 50%;
	color: #FFFFFF;
}

.active-header:hover {
	background: url(images/active-header.gif) #197ea6;
	background-repeat: no-repeat;
	background-position: right 50%;
	color: #FFFFFF;
}

.inactive-header {
	background: url(images/inactive-header.gif) #FFFFFF;
	background-repeat: no-repeat;
	background-position: right 50%;
}

.inactive-header:hover {
	background: url(images/inactive-header.gif) #197ea6;
	background-repeat: no-repeat;
	background-position: right 50%;
	color: #FFFFFF;
}

.accordion-content {
	display: none;
	padding: 20px;
	/*background: #FFFFFF;
	border: 1px solid #cccccc;*/
	border-top: 0;
	-moz-border-radius: 0 0 0 0;
	-webkit-border-radius: 0 0 0 0;
	border-radius: 0 0 0 0;
}
