/*
Copyright (c) 2003-2010, CKSource - Frederico Knabben. All rights reserved.
For licensing, see LICENSE.html or http://ckeditor.com/license
*/

body .cke_dialog {
    visibility: visible;
}

.cke_skin_office2003 table.cke_dialog.cke_browser_gecko {
    display: block;
}

.cke_skin_office2003 .cke_dialog_body {
    margin-left: 16px;
    margin-right: 16px;
    margin-top: 2px;
    margin-bottom: 20px;
    z-index: 1;
    position: relative;
    _position: static;
}

.cke_skin_office2003 .cke_dialog_tl, .cke_skin_office2003 .cke_dialog_tr, .cke_skin_office2003 .cke_dialog_tc, .cke_skin_office2003 .cke_dialog_bl, .cke_skin_office2003 .cke_dialog_br, .cke_skin_office2003 .cke_dialog_bc {
    background-image: url(images/sprites.png);
    background-repeat: no-repeat;
    position: absolute;
    _background-image: url(images/sprites_ie6.png);
    _z-index: -1;
}

.cke_skin_office2003 .cke_dialog_tl {
    background-position: -16px -16px;
    height: 16px;
    width: 16px;
    top: 0;
    left: 0;
}

.cke_skin_office2003 .cke_rtl .cke_dialog_tl {
    background-position: -16px -397px;
}

.cke_skin_office2003 .cke_dialog_tr {
    background-position: -16px -76px;
    height: 16px;
    width: 16px;
    top: 0;
    right: 0;
}

.cke_skin_office2003 .cke_rtl .cke_dialog_tr {
    background-position: -16px -457px;
}

.cke_skin_office2003 .cke_dialog_tc {
    background-position: 0 -136px;
    background-repeat: repeat-x;
    height: 16px;
    top: 0;
    left: 16px;
    right: 16px;
}

.cke_skin_office2003 .cke_dialog_bl {
    background-position: -16px -196px;
    height: 51px;
    width: 30px;
    bottom: 0;
    left: 0;
}

.cke_skin_office2003 .cke_rtl .cke_dialog_bl {
    background-position: -16px -517px;
}

.cke_skin_office2003 .cke_dialog_br {
    background-position: -16px -263px;
    height: 51px;
    width: 30px;
    bottom: 0;
    right: 0;
}

.cke_skin_office2003 .cke_rtl .cke_dialog_br {
    background-position: -16px -584px;
}

.cke_skin_office2003 .cke_dialog_bc {
    background-position: 0 -330px;
    background-repeat: repeat-x;
    height: 51px;
    bottom: 0;
    left: 30px;
    right: 30px;
}

.cke_skin_office2003 .cke_dialog_ml, .cke_skin_office2003 .cke_dialog_mr {
    background-image: url(images/dialog_sides.png);
    background-repeat: repeat-y;
    position: absolute;
    width: 16px;
    top: 16px;
    bottom: 51px;
    _background-image: url(images/dialog_sides.gif);
    _top: auto;
}

.cke_skin_office2003 .cke_rtl .cke_dialog_ml, .cke_skin_office2003 .cke_rtl .cke_dialog_mr {
    background-image: url(images/dialog_sides_rtl.png);
    _background-image: url(images/dialog_sides.gif);
}

.cke_skin_office2003 .cke_dialog_ml {
    background-position: 0 0;
    left: 0;
}

.cke_skin_office2003 .cke_dialog_mr {
    background-position: -16px 0;
    right: 0;
}

.cke_skin_office2003 .cke_browser_iequirks .cke_dialog_ml, .cke_skin_office2003 .cke_browser_iequirks .cke_dialog_mr {
    margin-top: 3px;
}

.cke_skin_office2003 .cke_dialog_title {
    background-image: url(images/sprites.png);
    _background-image: url(images/sprites_ie6.png);
    background-position: 0 -678px;
    background-repeat: repeat-x;
    font-weight: bold;
    font-size: 14pt;
    color: #0E3460;
    background-color: #8db1ff;
    padding: 3px 10px 26px 10px;
    cursor: move;
    position: relative;
}

.cke_skin_office2003 .cke_browser_ie.cke_rtl .cke_dialog_title {
    position: static !important;
    unicode-bidi: bidi-override;
}

.cke_skin_office2003 .cke_dialog_contents {
    background-color: #f7f8fd;
    border: #2b66c9 1px solid;
    overflow: auto;
    padding: 5px 10px;
}

.cke_skin_office2003 .cke_dialog_footer {
    background-color: #8db1ff;
    text-align: right;
}

.cke_skin_office2003 .cke_rtl .cke_dialog_footer {
    text-align: left;
}

.cke_skin_office2003 .cke_dialog_tabs {
    height: 23px;
    background-color: #8db1ff;
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: -23px;
    position: absolute;
    z-index: 2;
}

.cke_skin_office2003 .cke_rtl .cke_dialog_tabs {
    right: 10px;
}

.cke_skin_office2003 a.cke_dialog_tab, .cke_skin_office2003 a:link.cke_dialog_tab, .cke_skin_office2003 a:active.cke_dialog_tab, .cke_skin_office2003 a:hover.cke_dialog_tab, .cke_skin_office2003 a:visited.cke_dialog_tab {
    color: #0E3460;
    border-left: 1px solid #2b66c9;
    border-right: 1px solid #2b66c9;
    border-top: 1px solid #2b66c9;
    height: 14px;
    padding: 4px 5px;
    display: inline-block;
    cursor: pointer;
}

.cke_skin_office2003 .cke_browser_gecko18 a.cke_dialog_tab, .cke_skin_office2003 .cke_browser_gecko18 a:link.cke_dialog_tab, .cke_skin_office2003 .cke_browser_gecko18 a:active.cke_dialog_tab, .cke_skin_office2003 .cke_browser_gecko18 a:hover.cke_dialog_tab, .cke_skin_office2003 .cke_browser_gecko18 a:visited.cke_dialog_tab {
    display: inline;
    position: relative;
    top: 6px;
}

.cke_skin_office2003 a:hover.cke_dialog_tab {
    background-color: #f7f8fd;
}

.cke_skin_office2003 .cke_hc a:hover.cke_dialog_tab {
    padding: 2px 3px !important;
    border-width: 3px;
}

.cke_skin_office2003 a.cke_dialog_tab_selected, .cke_skin_office2003 a:link.cke_dialog_tab_selected, .cke_skin_office2003 a:active.cke_dialog_tab_selected, .cke_skin_office2003 a:hover.cke_dialog_tab_selected, .cke_skin_office2003 a:visited.cke_dialog_tab_selected {
    border-bottom: 1px solid #f7f8fd;
    background-color: #f7f8fd;
    font-weight: bold;
    cursor: default;
}

.cke_skin_office2003 .cke_hc a.cke_dialog_tab_selected, .cke_skin_office2003 .cke_hc a:link.cke_dialog_tab_selected, .cke_skin_office2003 .cke_hc a:active.cke_dialog_tab_selected, .cke_skin_office2003 .cke_hc a:hover.cke_dialog_tab_selected, .cke_skin_office2003 .cke_hc a:visited.cke_dialog_tab_selected {
    padding: 2px 3px !important;
    border-width: 3px;
}

.cke_skin_office2003 .cke_single_page .cke_dialog_tabs {
    display: none;
}

.cke_skin_office2003 .cke_hc .cke_dialog_tabs a, .cke_skin_office2003 .cke_hc .cke_dialog_footer a {
    opacity: 1.0;
    filter: alpha(opacity=100);
    border: 1px solid white;
}

.cke_skin_office2003 .cke_single_page .cke_dialog_title {
    padding-bottom: 3px;
}

.cke_skin_office2003 .cke_dialog_ui_vbox table, .cke_skin_office2003 .cke_dialog_ui_hbox table {
    margin: auto;
}

.cke_skin_office2003 .cke_dialog_ui_vbox_child {
    padding: 5px 0;
}

.cke_skin_office2003 input.cke_dialog_ui_input_text, .cke_skin_office2003 input.cke_dialog_ui_input_password {
    background-color: white;
    border: none;
    padding: 0;
    width: 100%;
    height: 14px;
}

.cke_skin_office2003 div.cke_dialog_ui_input_text, .cke_skin_office2003 div.cke_dialog_ui_input_password {
    background-color: white;
    border: 1px solid #a0a0a0;
    padding: 1px 0;
}

.cke_skin_office2003 .cke_browser_gecko.cke_hc div.cke_dialog_ui_input_text, .cke_skin_office2003 .cke_browser_gecko.cke_hc div.cke_dialog_ui_input_password {
    border-width: 0;
}

.cke_skin_office2003 .cke_browser_gecko18.cke_hc div.cke_dialog_ui_input_text, .cke_skin_office2003 .cke_browser_gecko18.cke_hc div.cke_dialog_ui_input_password {
    border-width: 1px;
}

.cke_skin_office2003 textarea.cke_dialog_ui_input_textarea {
    background-color: white;
    border: none;
    padding: 0;
    width: 100%;
    _width: 99%;
    overflow: auto;
    resize: none;
}

.cke_skin_office2003 div.cke_dialog_ui_input_textarea {
    background-color: white;
    border: 1px solid #a0a0a0;
    padding: 1px 0;
}

.cke_skin_office2003 div.cke_disabled .cke_dialog_ui_labeled_content * {
    background-color: #a0a0a0;
    cursor: default;
}

.cke_skin_office2003 .cke_dialog_ui_hbox {
    width: 100%;
}

.cke_skin_office2003 .cke_dialog_ui_hbox_first, .cke_skin_office2003 .cke_dialog_ui_hbox_child, .cke_skin_office2003 .cke_dialog_ui_hbox_last {
    vertical-align: top;
}

.cke_skin_office2003 .cke_ltr .cke_dialog_ui_hbox_first, .cke_skin_office2003 .cke_ltr .cke_dialog_ui_hbox_child {
    padding-right: 10px;
}

.cke_skin_office2003 .cke_rtl .cke_dialog_ui_hbox_first, .cke_skin_office2003 .cke_rtl .cke_dialog_ui_hbox_child {
    padding-left: 10px;
}

.cke_skin_office2003 a.cke_dialog_ui_button {
    border-collapse: separate;
    cursor: default;
}

.cke_skin_office2003 span.cke_dialog_ui_button {
    background-image: url(images/sprites.png);
    _background-image: url(images/sprites_ie6.png);
    background-position: 0 -678px;
    background-repeat: repeat-x;
    border: #0E3460 1px solid;
    padding: 2px 10px;
    text-align: center;
    color: #0E3460;
    background-color: #8db1ff;
    display: inline-block;
    cursor: default;
}

.cke_skin_office2003 .cke_browser_gecko18 .cke_dialog_footer_buttons span.cke_dialog_ui_button {
    display: block;
}

.cke_skin_office2003 a.cke_dialog_ui_button span.cke_disabled {
    border: #898980 1px solid;
    color: #5e5e55;
    background-color: #c5c5b3;
}

.cke_skin_office2003 a:focus span.cke_dialog_ui_button, .cke_skin_office2003 a:active span.cke_dialog_ui_button {
    background-color: #8db1ff;
}

.cke_skin_office2003 .cke_hc a:focus span.cke_dialog_ui_button, .cke_skin_office2003 .cke_hc a:active span.cke_dialog_ui_button {
    border-width: 2px;
}

.cke_skin_office2003 .cke_dialog_footer_buttons {
    display: inline-table;
    margin-right: 12px;
    margin-left: 12px;
    width: auto;
    position: relative;
}

.cke_skin_office2003 .cke_browser_gecko18 .cke_dialog_footer_buttons {
    display: inline;
}

.cke_skin_office2003 .cke_dialog_footer_buttons span.cke_dialog_ui_button {
    width: 60px;
    margin: 7px 0;
}

.cke_skin_office2003 strong {
    font-weight: bold;
}

.cke_skin_office2003 a.cke_dialog_close_button, .cke_skin_office2003 a:hover.cke_dialog_close_button, .cke_skin_office2003 .cke_browser_ie6 a.cke_dialog_close_button, .cke_skin_office2003 .cke_browser_ie6 a:hover.cke_dialog_close_button {
    background-image: url(images/sprites.png);
    background-repeat: no-repeat;
    background-position: -20px -655px;
    position: absolute;
    cursor: pointer;
    text-align: center;
    height: 21px;
    width: 21px;
    top: 4px;
    _background-image: url(images/sprites_ie6.png);
}

.cke_skin_office2003 a.cke_dialog_close_button span {
    display: none;
}

.cke_skin_office2003 .cke_ltr a.cke_dialog_close_button {
    right: 10px;
    _right: 22px;
}

.cke_skin_office2003 .cke_rtl a.cke_dialog_close_button, .cke_skin_office2003 .cke_rtl a:hover.cke_dialog_close_button {
    left: 10px;
    _left: 16px;
    _top: 6px;
}

.cke_skin_office2003 .cke_browser_ie6.cke_rtl a.cke_dialog_close_button, .cke_skin_office2003 .cke_browser_ie6.cke_rtl a:hover.cke_dialog_close_button {
    position: relative;
    float: left;
    margin-top: -55px;
    margin-left: -7px;
}

.cke_skin_office2003 .cke_browser_iequirks.cke_rtl.cke_single_page a.cke_dialog_close_button, .cke_skin_office2003 .cke_browser_iequirks.cke_rtl.cke_single_page a:hover.cke_dialog_close_button {
    margin-top: -32px;
}

.cke_skin_office2003 .cke_browser_iequirks.cke_ltr a.cke_dialog_close_button, .cke_skin_office2003 .cke_browser_iequirks.cke_ltr a:hover.cke_dialog_close_button {
    margin-top: 0;
}

.cke_skin_office2003 .cke_dialog_ui_input_select {
    border: 1px solid #a0a0a0;
    background-color: white;
}

.cke_skin_office2003 iframe.cke_dialog_ui_input_file {
    width: 100%;
    height: 25px;
}

.cke_skin_office2003 .cke_dialog .cke_dark_background {
    background-color: #eaead1;
}

.cke_skin_office2003 .cke_dialog .cke_hand {
    cursor: pointer;
}

.cke_skin_office2003 .cke_dialog .cke_centered {
    text-align: center;
}

.cke_skin_office2003 .cke_dialog a.cke_btn_reset {
    float: right;
    background-position: 0 -32px;
    background-image: url(images/mini.gif);
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    border: 1px none;
    font-size: 1px;
}

.cke_skin_office2003 .cke_rtl .cke_dialog a.cke_btn_reset {
    float: left;
}

.cke_skin_office2003 .cke_dialog a.cke_btn_locked, .cke_skin_office2003 .cke_dialog a.cke_btn_unlocked {
    float: left;
    background-position: 0 0;
    background-image: url(images/mini.gif);
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    border: none 1px;
    font-size: 1px;
}

.cke_skin_office2003 .cke_rtl .cke_dialog a.cke_btn_locked, .cke_skin_office2003 .cke_rtl .cke_dialog a.cke_btn_unlocked {
    float: right;
}

.cke_skin_office2003 .cke_dialog a.cke_btn_unlocked {
    background-position: 0 -16px;
    background-image: url(images/mini.gif);
}

.cke_skin_office2003 .cke_dialog .cke_btn_over {
    border: outset 1px;
    cursor: pointer;
    cursor: hand;
}

.cke_skin_office2003 .cke_dialog #ImagePreviewBox {
    border: 2px ridge black;
    overflow: scroll;
    height: 160px;
    width: 230px;
    padding: 2px;
    background-color: white;
}

.cke_skin_office2003 .cke_dialog #ImagePreviewBox table td {
    white-space: normal;
}

.cke_skin_office2003 .cke_browser_iequirks .cke_dialog_page_contents {
    _position: absolute;
}

.cke_skin_office2003 .cke_dialog #ImagePreviewLoader {
    position: absolute;
    white-space: normal;
    overflow: hidden;
    height: 160px;
    width: 230px;
    margin: 2px;
    padding: 2px;
    opacity: .9;
    filter: alpha(opacity=90);
    background-color: #e4e4e4;
}

.cke_skin_office2003 .cke_dialog #FlashPreviewBox {
    white-space: normal;
    border: 2px ridge black;
    overflow: auto;
    height: 160px;
    width: 390px;
    padding: 2px;
    background-color: white;
}

.cke_skin_office2003 .cke_dialog .cke_dark_background {
    text-align: center;
    background-color: #eaead1;
    font-size: 14px;
}

.cke_skin_office2003 .cke_dialog .cke_light_background {
    text-align: center;
    background-color: #ffffbe;
}

.cke_skin_office2003 .cke_dialog .cke_hand {
    cursor: pointer;
    cursor: hand;
}

.cke_skin_office2003 .cke_disabled {
    color: #a0a0a0;
}

.cke_skin_office2003 .cke_hc .cke_dialog_title, .cke_skin_office2003 .cke_hc .cke_dialog_tabs, .cke_skin_office2003 .cke_hc .cke_dialog_contents, .cke_skin_office2003 .cke_hc .cke_dialog_footer {
    border-left: 1px solid;
    border-right: 1px solid;
}

.cke_skin_office2003 .cke_hc .cke_dialog_title {
    border-top: 1px solid;
}

.cke_skin_office2003 .cke_hc .cke_dialog_footer {
    border-bottom: 1px solid;
}

.cke_skin_office2003 .cke_hc .cke_dialog_close_button span {
    display: inline;
    cursor: pointer;
    cursor: hand;
    font-weight: bold;
    position: relative;
    top: 3px;
}

.cke_skin_office2003 .cke_dialog_body .cke_label {
    display: none;
}

.cke_skin_office2003 .cke_hc .cke_dialog_body .cke_label {
    display: inline;
}

.cke_skin_office2003 .cke_hc a.cke_btn_locked, .cke_skin_office2003 .cke_hc a.cke_btn_unlocked, .cke_skin_office2003 .cke_hc a.cke_btn_reset {
    border-style: solid;
    float: left;
    width: auto;
    height: auto;
}

.cke_skin_office2003 .cke_rtl.cke_hc a.cke_btn_locked, .cke_skin_office2003 .cke_rtl.cke_hc a.cke_btn_unlocked, .cke_skin_office2003 .cke_rtl.cke_hc a.cke_btn_reset {
    float: right;
}
